<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Megadeth: Albumes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <link rel="stylesheet" href="../static/styles/styleAlbums.css">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="ico">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../templates/index.html"><img id="logo-megadeth" src="/static/img/skull_logo.png"
            alt="Megadeth logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link navbar-s" href="../templates/index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active navbar-s" href="../templates/albums.html">Albumes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-s" href="../templates/songs.html">Canciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-s" href="../templates/curiosities.html">Curiosidades</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="titulo-album">
      <br>
      <h1>Albumes</h1>
      <p>Caratulas de los albumes realizados por Megadeth en lo largo de su carrera.</p>
    </div>
    <div class="grid-container">
      <div class="grid-item"><img src="../static/img/albumes/Killing Is My Business.jpg" alt="Killing is my Business">
        <p>Killing is My Business... and Business is good</p>
      </div>
      <div class="grid-item"><img src="../static/img/albumes/Megadeth_-_Peace_Sells..._But_Who's_Buying-.jpg"
          alt="Peace Sells">
        <p>Peace Sells... But Who's Buying</p>
      </div>
      <div class="grid-item"><img src="../static/img/albumes/SoFar.jpg" alt="SoFar">
        <p>So Far, So Good... So What!</p>
      </div>
      <div class="grid-item"><img src="../static/img/albumes/Megadeth-RustInPeace.jpg" alt="Megadeth-RustInPeace">
        <p>Rust In Peace</p>
      </div>
      <div class="grid-item"><img src="../static/img/albumes/countdown-to-extinction.jpg" alt="countdown-to-extinction">
        <p>Countdown To Extinction</p>
      </div>
      <div class="grid-item"><img src="../static/img/albumes/Megadeth-Youthanasia.jpg" alt="Megadeth-Youthanasia">
        <p>Youthanasia</p>
      </div>
      <div class="grid-item"><img src="../static/img/albumes/crypticwritings.jpg" alt="crypticwritings">
        <p>Cryptic Writings</p>
      </div>
      <div class="grid-item"><img src="../static/img/albumes/Megadeth-Risk.jpg" alt="Risk">
        <p>Risk</p>
      </div>
      <div class="grid-item"><img src="../static/img/albumes/World_Remastered.jpg" alt="the world needs a hero">
        <p>The World Needs a Hero</p></div>
      <div class="grid-item"><img src="../static/img/albumes/Megadeth_-_The_System_Has_Failed.jpg"
          alt="The Megadeth_-_The_System_Has_Failed">
          <p>The System Has Failed</p></div>
      <div class="grid-item"><img src="../static/img/albumes/United_Abominations.jpg" alt="United_Abominations">
        <p>United Abominations</p></div>
      <div class="grid-item"><img src="../static/img/albumes/Endgame_album_art.jpg" alt="Endgame">
        <p>Endgame</p></div>
      <div class="grid-item"><img src="../static/img/albumes/MegadethThirteen.jpg" alt="MegadethThirteen">
        <p>Th1rt3en</p></div>
      <div class="grid-item"><img src="../static/img/albumes/Super_Collider_Megadeth.jpg" alt="Super Collider">
        <p>Super Collider</p></div>
      <div class="grid-item"><img src="../static/img/albumes/MegadethDystopia.png" alt="Dystopia">
        <p>Dystopia</p></div>
      <div class="grid-item"><img src="../static/img/albumes/MD-The-Sick-The-Dying-1600.jpg"
          alt="The Sick, The dying and the dead!">
          <p>The Sick, The Dying... and The Dead!</p></div>
    </div>
  </main>

  <footer class="bg-dark">
    <p>2023 Megadeth. Todos los derechos reservados.</p>
    <p>Contacto: info@megadeth.com</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>
</html>