<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Megadeth: Canciones</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <link rel="stylesheet" href="../static/styles/styleSongs.css">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="ico">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../templates/index.html"><img id="logo-megadeth"
            src="../static/img/skull_logo.png" alt="Megadeth logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link navbar-s" href="../templates/index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-s" href="../templates/albums.html">Albumes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active navbar-s" href="../templates/songs.html">Canciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-s" href="../templates/curiosities.html">Curiosidades</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container-songs">
      <h2 id="title-principal">Top 7 Canciones mas exitosas de Megadeth</h2>
      <div class="song">
        <h4 class="title-songs">1. Holy Wars... The Punishment Due</h4>
        <h5 class="title-songs">Album: Rust In Peace</h5>
        <img src="../static/img/albumes/Megadeth-RustInPeace.jpg" alt="Megadeth-RustInPeace">
        <p class="info-songs">Esta canción es conocida por su complejidad musical y lírica. Está dividida en dos partes:
          "Holy Wars" y "The Punishment Due". La primera parte trata sobre la guerra y la religión, mientras que la
          segunda parte aborda el tema de la justicia y la venganza. Es una de las canciones emblemáticas de Megadeth y
          destaca por sus cambios de ritmo y habilidades técnicas de los instrumentistas.</p>
        <a href="https://youtu.be/9d4ui9q7eDM" class="boton-song" target="_blank">Canción en YouTube</a>
      </div>
      <br>
      <div class="song">
        <h4 class="title-songs">2. Peace Sells</h4>
        <h5 class="title-songs">Album: Peace Sells... But Who's Buying?</h5>
        <img src="../static/img/albumes/Megadeth_-_Peace_Sells..._But_Who's_Buying-.jpg" alt="Peace">
        <p class="info-songs">Es una de las canciones más reconocibles de Megadeth. La letra aborda la corrupción y la
          hipocresía en la sociedad. La icónica línea "Peace sells, but who's buying?" se ha convertido en un lema de la
          banda. La canción tiene un ritmo enérgico y un bajo prominente, lo que contribuye a su distintivo sonido.</p>
        <a href="https://youtu.be/rdEupVsL07E" class="boton-song" target="_blank">Canción en YouTube</a>
      </div>
      <br>
      <div class="song">
        <h4 class="title-songs">3. Symphony of Destruction</h4>
        <h5 class="title-songs">Album: Countdown to Extinction</h5>
        <img src="../static/img/albumes/countdown-to-extinction.jpg" alt="countdown-to-extinction">
        <p class="info-songs">Esta canción es un himno de protesta contra las figuras de poder y los líderes que
          manipulan a las masas. La letra critica la destrucción causada por las decisiones equivocadas de quienes están
          al mando. "Symphony of Destruction" es conocida por su riff de guitarra característico y su estribillo
          pegajoso.</p>
          <a href="https://youtu.be/vfpgpf6QVnI" class="boton-song" target="_blank">Canción en YouTube</a>
      </div>
      <br>
      <div class="song">
        <h4 class="title-songs">4. Hangar 18</h4>
        <h5 class="title-songs">Album: Rust In Peace</h5>
        <img src="../static/img/albumes/Megadeth-RustInPeace.jpg" alt="Megadeth-RustInPeace">
        <p class="info-songs">Es una canción que aborda teorías de conspiración y la posibilidad de encuentros
          extraterrestres. El título hace referencia a una instalación militar que se ha asociado con investigaciones
          sobre ovnis. La canción presenta solos de guitarra virtuosos y cambios de tempo distintivos.</p>
          <a href="https://youtu.be/rUGIocJK9Tc" class="boton-song" target="_blank">Canción en YouTube</a>
      </div>
      <br>
      <div class="song">
        <h4 class="title-songs">5. Tornado of Souls</h4>
        <h5 class="title-songs">Album: Rust In Peace</h5>
        <img src="../static/img/albumes/Megadeth-RustInPeace.jpg" alt="Megadeth-RustInPeace">
        <p class="info-songs">Esta canción habla sobre una relación fallida y el dolor que conlleva. Sus letras expresan
          emociones de pérdida y traición. "Tornado of Souls" es conocida por sus rápidos pasajes de guitarra y su
          emotiva interpretación vocal.</p>
        <a href="https://youtu.be/L8HhOMNrulE" class="boton-song" target="_blank">Canción en YouTube</a>
      </div>
      <br>
      <div class="song">
        <h4 class="title-songs">6. Sweating Bullets</h4>
        <h5 class="title-songs">Album: Countdown to Extinction</h5>
        <img src="../static/img/albumes/countdown-to-extinction.jpg" alt="countdown-to-extinction">
        <p class="info-songs">La letra de esta canción parece explorar la lucha interna de una persona con su propia
          mente. El narrador parece estar experimentando pensamientos inquietantes y confusos. La canción tiene un ritmo
          pegajoso y un tono inquietante que complementa la temática lírica.</p>
          <a href="https://youtu.be/aOnKCcjP8Qs" class="boton-song" target="_blank">Canción en YouTube</a>
      </div>
      <br>
      <div class="song">
        <h4 class="title-songs">7. A Tout Le Monde</h4>
        <h5 class="title-songs">Album: Youthanasia</h5>
        <img src="../static/img/albumes/Megadeth-Youthanasia.jpg" alt="Youthanasia">
        <p class="info-songs">Es una balada melancólica que aborda el tema de la muerte y la despedida. A menudo ha sido
          interpretada como una canción de despedida a los seres queridos. Aunque inicialmente fue controvertida debido
          a malentendidos sobre su mensaje, la canción se ha convertido en una de las más reconocidas y emotivas de
          Megadeth.</p>
          <a href="https://youtu.be/aU-dKoFZT0A" class="boton-song" target="_blank">Canción en YouTube</a>
      </div>

    </div>
  </main>

  <footer class="bg-dark">
    <p>2023 Megadeth. Todos los derechos reservados.</p>
    <p>Contacto: info@megadeth.com</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>