%titulos {
    color: white;
    text-align: center;
}

%boton-plantilla {
    border-radius: 10px;
    border-width: 4.5px;
    font-size: large;
    font-weight: 700;
    padding: 10px 10px;
    width: 125px;
    height: 75px;
    -webkit-transition: all .9s ease;
    transition: all .9s ease;
    text-decoration: none;
}


#title-principal {
  @extend %titulos;
  padding: 30px;
}

.container-songs {
    color: white;
    background-color: black;
    padding: 20px;
    padding-bottom: 50px;

    .song {

        .boton-song {
            @extend %boton-plantilla;
            background-color: orange;
            color: white;
            border-color: white;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        
        .boton-song:hover {
            background-color: white;
            color: orange;
        }

        .title-songs, .info-songs {
            text-align: center;
        }
    
        .info-songs {
            font-size: larger;
            margin-left: 50px;
            margin-right: 50px;
            padding-bottom: 15px;
        }
    
        img {
            display: block;
            margin: 0 auto;
            padding: 10px;
            padding-bottom: 20px;
            width: 400px;
            transition: all .9s ease;
        }
    
        img:hover {
            transform: scale(1.05);
        }
    }
    
}

@media only screen and (max-width: 455px){
    .container-songs {
        .song {
            img {
                width: 100%;
            }
        }
    }
}